/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url(/resources/dialog.css);

:root.debug .row {
  border: 1px solid blue;
}
:root.debug .column {
  border: 1px solid red;
}

.hidden {
  display: none !important;
}

.listbox,
iframe {
  min-height: 4em;
}

hr.splitter {
  border: none;
  cursor: row-resize;
  height: 0.25em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.listbox {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}
.listbox .row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* recipient type column */
.row.recipient .column:nth-child(2),
.row.recipient .column:nth-child(2) {
  width: 3em;
}

.column.flexible {
  flex-grow: 1;
  position: relative;
}

.column.flexible > * {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.column.flexible > *:not(input) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* placeholder for the cell */
.row.domain .column.flexible::after {
  content: " ";
}

.row.domain::before {
  content: "☆";
}

.row.domain.checked::before {
  content: "★";
}

#externals .row.recipient {
  padding-left: 1em;
}
