/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url(/resources/dialog.css);

.hidden {
  display: none;
}

.dialog-content,
.flex-box {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:root:not(.offscreen) .dialog-content {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#bodyField {
  height: 3em;
}

hr.splitter {
  border: none;
  cursor: row-resize;
  height: 0.25em;
  margin: 0;
  padding: 0;
  width: 100%;
}
