/* style */

#otherDomains listitem:not(.confirm-mail-list-separator) checkbox {
    padding-left: 21px;
}

.confirm-mail-list-separator {
    font-weight: bold;
}
.confirm-mail-list-separator:not([selected="true"]) {
    background: #DEEFFF;
}

#otherDomains > listitem[data-exceptional]:not([selected="true"]),
#otherDomains > listitem[data-exceptional][selected="true"],
#otherDomains:focus > listitem[data-exceptional]:not([selected="true"]),
#otherDomains:focus > listitem[data-exceptional][selected="true"],
#otherDomains:not(:focus) > listitem[data-exceptional]:not([selected="true"]),
#otherDomains:not(:focus) > listitem[data-exceptional][selected="true"],
#fileNames > listitem[data-exceptional]:not([selected="true"]),
#fileNames > listitem[data-exceptional][selected="true"],
#fileNames:focus > listitem[data-exceptional]:not([selected="true"]),
#fileNames:focus > listitem[data-exceptional][selected="true"],
#fileNames:not(:focus) > listitem[data-exceptional]:not([selected="true"]),
#fileNames:not(:focus) > listitem[data-exceptional][selected="true"] {
    color: red !important;
}

listbox + splitter {
    -moz-appearance: none;
    background: transparent;
    border: 0 none;
    margin: -2px 0;
}

