/* style */

.confirm-mail-list-separator {
    font-weight: bold;
}
.confirm-mail-list-separator:not([selected="true"]) {
    background: #DEEFFF;
}

#otherDomainsList > richlistitem[data-exceptional]:not([selected="true"]),
#otherDomainsList > richlistitem[data-exceptional][selected="true"],
#otherDomainsList:focus > richlistitem[data-exceptional]:not([selected="true"]),
#otherDomainsList:focus > richlistitem[data-exceptional][selected="true"],
#otherDomainsList:not(:focus) > richlistitem[data-exceptional]:not([selected="true"]),
#otherDomainsList:not(:focus) > richlistitem[data-exceptional][selected="true"],
#fileNamesList > richlistitem[data-exceptional]:not([selected="true"]),
#fileNamesList > richlistitem[data-exceptional][selected="true"],
#fileNamesList:focus > richlistitem[data-exceptional]:not([selected="true"]),
#fileNamesList:focus > richlistitem[data-exceptional][selected="true"],
#fileNamesList:not(:focus) > richlistitem[data-exceptional]:not([selected="true"]),
#fileNamesList:not(:focus) > richlistitem[data-exceptional][selected="true"] {
    color: red !important;
}

richlistbox {
	min-height: 1em;
}

richlistitem {
	-moz-box-orieng: horizontal;
	-moz-box-align: center;
	-moz-box-pack: stretch;
}

richlistitem hbox.checkbox {
	max-width: 20px;
}
richlistitem hbox.checkbox checkbox label {
	display: none;
}

richlistbox#otherDomainsList richlistitem.confirm-mail-list-separator {
	background-image: url("chrome://confirm-mail/skin/icon/blank16.png");
	background-repeat: no-repeat;
	background-position: 3px center;
	padding-left: 18px;
}
richlistbox#otherDomainsList richlistitem.confirm-mail-list-separator.all-checked {
	background-image: url("chrome://confirm-mail/skin/icon/star16.png");
}

richlistbox#otherDomainsList richlistitem:not(.confirm-mail-list-separator) {
	padding-left: 32px;
}

splitter {
    -moz-appearance: none;
    background: transparent;
    border: 0 none;
    margin: -2px 0;
}

